body {
  background: linear-gradient(180deg, #000000 0%, #0000007e 20%, #000000 100%),
    url("../images/background/casesgg.jpg") center / cover no-repeat;
}
:root {
  --color1: #226bf2;
  --color1Dark: #002f86;
  --color2: #0b0b0b;
}
